body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #003366, #3366CC);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding-right: 35px;
    padding-left: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 630px;
    text-align: center;
}

.header h1 {
    margin-bottom: 20px;
    color: #FFA500;
}

form ul {
    list-style-type: none;
    padding: 0;
}

form li {
    margin-bottom: 15px;
    color: #FFA500;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"],
input[type="password"],
.submit {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #2462aa;
    border-radius: 5px;
    box-sizing: border-box;
    color: #FFA500;
}

.submit {
    background-color: #FFA500;
    color: white;
    border: none;
    cursor: pointer;
    padding-left: 35px;
    margin-left: -20px;
    
}

.submit:hover {
    background-color: #FFD700;
}
